.vs/
.git/
.github/
artifacts/
**/bin/
**/obj/
**/node_modules/
**/*.user
**/keys/*.pem
**/keys/*.key
**/data-protection-keys/*
*.zip

**/.turbo/
**/.next/
**/coverage/
**/*.log
docs/
scripts/
.runlogs/
